RSVSim/output/
simulation_from_reviewer/figures/
intNMF/figures/
*aux
*log
*gz
simulation_from_reviewer/cached_images
data/

#RSVSim/exposures/

emails/
intNMF/figures

RSVSim/CNSimGenome.Rcheck/
RSVSim/CNSimGenome2.Rcheck/
RSVSim/CNSimGenome3.Rcheck/
RSVSim/CNSimGenome*Rcheck/
RSVSim/slurm_out/

RSVSim/Homo_sapiens.GRCh37.87.sqlite 

.path_to_cnsignatures


